@import "~font-awesome/css/font-awesome.css";
@import "~normalize.css/normalize.css";
@import "~react-quill/dist/quill.snow.css";

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  height: 100vh;
}

html,
body {
  overflow: hidden;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus,
button:hover {
  outline: 0;
}
